<!DOCTYPE html>
<html>
  <head>
    <title>YONDE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description"
    content="誰でも簡単にオールナイトニッポンの
    好きな番組の好きなコーナーに
    投稿メールを作ることができます。">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/72x72/1f4fb.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
