<!DOCTYPE html>
<html>
  <head>
    <title>ðŸ“» YONDE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="èª°ã§ã‚‚ç°¡å˜ã«ã‚ªãƒ¼ãƒ«ãƒŠã‚¤ãƒˆãƒ‹ãƒƒãƒãƒ³ã¸ã®æŠ•ç¨¿ãŒã§ãã¾ã™">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
